<div class="row_message srt2">
    <div class="sms_image" style="background-image: url({{avatar_url}});"></div>
    <div class="clm_span_mes">
        <div class="first_mes_name">{{name}}</div>
        <div class="mes_txt">{{last_message}}</div>
    </div>
</div>