<div class="s_review">
    <div class="sr_title">
        <span class="t_name">{{name}}</span>
        <span class="t_info">{{place}} {{date}}</span>
    </div>
    <div class="sr_review">{{text}}</div>
</div>