<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yandex API</title>
    <script src="https://api-maps.yandex.ru/2.1/?apikey=60aaeb0e-3b97-4d24-80dc-ce5a93de1e53&lang=ru_RU" type="text/javascript">
    <script src="./js/modules/fontawesome.js" type="text/javascript"></script>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    </script>
</head>
<body>
    <div id="map" class="map"></div>

    <div class="review_form hide">
    <div class="r_header">
        <div class="h_marker"></div>
        <div class="h_address">{{address}}</div>
        <div class="h_close"></div>
    </div>
    <div class="r_scroll">
    </div>
    <div class="border-line"></div>
    <div class="form_review">
        <span class="fr_title">Ваш отзыв</span>
        <input class="fr_form size_form1 input_name"  placeholder="Ваше имя"></input>
        <input class="fr_form size_form1 input_place" placeholder="Укажите место"></input>
        <textarea class="fr_form size_form2 input_review" placeholder="Поделитесь впечатлениями"></textarea>
    </div>
    <span class="red_text hide">* Заполните все поля!</span>
    <button class="btn_add">Добавить</button>
    </div>
</body>
</html>